#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  text-align: center;
  
 
}



#repoContainer{
  text-align: center;
  float:right;
}